@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,500i,600,700&display=swap');


body{ font-family: 'EB Garamond', serif; font-size: 18px;}
nav{ display: none; }
.strong{ font-weight: 600; }
.strong-i{ font-weight: 500; font-style: italic; }
.hidden > nav{ margin-top: 30px; }
.navLinks > a{
  display: block;
  font-size: 5em;
  padding: 25px 45px 35px 40px;
  text-decoration: none;
  color: #000000;
}
.menuIcn{
  max-width: 5%;
  position: absolute;
  right: 40px;
  top: 20px;
}
.letter{
  margin: 100px 70px 80px 30px;
}
.abstract-p{ margin-bottom: 50px; }
.signature{ margin-top: 45px; }
.signature > img{ 
  max-width: 40%; 
  margin-left: 15px; 
  margin-top: -10px; 
}
